.mobile {
  display: none;
}


  /* Universal */

html {
  font-size: 18px;
  max-width: 1056px;
  color: #4c4c4c;
  margin: auto;
  }

body {
  font-family: sans-serif;
  background-color: white;
}

.desktop a:hover {
  color: #4c4cff;
}


@media only screen and (max-width: 480px) {
  .container {
    width: 100%;}
  }

  h1 {
    font-size: 2.15rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.9rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h6 {
    font-size: 1.10rem;
    font-weight: 500;
  }

  p {
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.1rem;
  }


  /* navigation */

.flex-container1 {
    display: flex;
    height: 64px;
    border: 1px solid purple;
  }

.nav .desktop {
    text-align: right;
    flex-grow: 1;
    margin-right: 24px;
    align-self: center;
  }

.nav .desktop a {
  color: #383838;
  padding-right: 16px;
  text-decoration: none;
}

.desktop a:active {
    color: #383838;
  }

.desktop a:hover {
      color: #4c4cff;
    }

@media only screen and (min-width: 480px) {
  .nav .mobile {
        display: none;}
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 2.75rem;
  padding-left: 24px;
}


  /* Hero Section */

.flex-container2 {
    display: flex;
    justify-content: flex-start;
    height: auto;
    background-color: #d3d3d3;
    border: 1px solid orange;
  }

.hero .flex-container2 img {
    width: 100%;
  }

.flex-container2 .left-panel {
    width: 60%;
    padding: 32px 24px;
    align-self: flex-start;
    border: 1px solid pink;
  }

  .flex-container2 .right-panel {
      width: 40%;
      border: 1px solid maroon;
    }

.tagline {
    height: auto;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    width: 80%;
  }

.tagline h4 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

.tagline a {
    background-color: #383838;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    text-decoration: none;
  }

.tagline a:hover {
    background-color: #808080;
  }

.tagline a:active {
    background-color: #808080;
  }


/* Practicing & Sidebar */

.flex-container3 {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

.flex-container3 .caption {
  font-size: .8rem;
  font-weight: bold;
}

.flex-container3 .left-panel {
  border: 1px solid green;
  width: 60%;
  padding: 32px 24px 32px 24px;
}

.flex-container3 .left-panel img {
  width: 100%;
}

.flex-container3 .right-panel {
  border: 1px solid blue;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.flex-container3 .right-panel img.desktop {
  width: 40%;
}

.flex-container3 .right-panel img. mobile {
  display: none;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: double;
  border: 1px solid #cccccc;
  margin-bottom: 1px;
}

.box img.desktop {
  width: 100%;
  padding: 16px;
}

.box img.mobile {
  display: none;
}

.flex-container3 .left-panel h2 {
  padding-top: 32px;
}

.flex-container3 .left-panel p {
  padding: 24px 24px 24px 0px;
}

.content {
  padding: 16px 1px 16px 0px;
  width: 100%;
}

.content p {
  padding-top: 8px;
}

.content a {
  color: #4ba3f4;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding-top: .9rem;
}

.content a:hover {
  color: #9dcdf9;
  text-decoration: underline;
}

.content a:active {
  color: #9dcdf9;
  text-decoration: underline;
}

#guest-box {
  background-color: #d3d3d3;
}


/* Start Learning */

.flex-container4 {
  display: flex;
  border: 1px solid blue;
  background-color: #e5e5e5;
  margin-top:32px;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 16px;
  margin-bottom: 32px;
}

.flex-container4 .headline {
  margin: 32px 0px;
  text-align: center;
}

.flex-container4 .courses {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
}

.flex-container4 .courses .course {
    border: 1px solid gray;
    width: 31%;
    background-color: white;
  margin-bottom: 24px;
}

.flex-container4 img {
    width: 100%;
}

.flex-container4 .course-content {
  margin-left: 16px;
  margin-right: 16px;
  margin-top:8px;
  margin-bottom: 24px;
}

.flex-container4 h6 {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.flex-container4 p {
  font-size: .7rem;
}

.flex-container4 span {
  font-size: .7rem;
  line-height: 1.5rem;
}

/* Thesis */

.flex-container5 {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  margin-top:32px;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 32px;
}

.flex-container5 .headline {
  margin: 32px 0px;
  text-align: center;
}

.flex-container5 .left-panel {
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 55%;
    margin: 0 auto;
}

.flex-container5 .right-panel {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 35%;
    margin: 0 auto;
}

.flex-container5 .left-panel img {
  width: 100%;
}

.flex-container5 .right-panel img.desktop {
  width: 40%;
}
